<div class="jumbotron bg-white text-center" >
    <h1 class="display-4">Corena Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus repellat quas repellendus quod id illum aliquam laudantium voluptate nisi accusamus rerum dolorem accusantium perferendis sequi soluta iure magni, quam expedita!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt omnis nam, eum officiis tenetur aspernatur asperiores repellendus laudantium! Temporibus quibusdam magnam corrupti ratione recusandae ipsam odio quaerat esse architecto facere.</p>
</div>